.active {
    /* (!important) overrides any previous 
    formats that usually take priority */
    color: #ff5935!important; 
    font-weight: 800;
}
body {
    background: linear-gradient(0deg, #000000, #000000);
    margin: 0px;
    padding: 0px;
}
.flexcenter {
    display: flex;
    align-items: center;
}
.flexstretch {
    display: flex;
    align-items: stretch;
}
.pagination {
    color: white;
    text-decoration: none;
}
.background {
   background: rgba(74, 74, 74, 1);
}

.padding {
    padding: 16px;
}
.smallpadding {
    padding: 10px 8px 10px 8px;

}
.border {
    border: 1px solid rgba(74, 74, 74, 1);
}
.bordertop {
    border: 1px solid rgba(74, 74, 74, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.borderbottom {
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.grey {
    color: rgba(255, 255, 255, 0.5);
}
.grey a{
    color: rgb(255, 255, 255, 0.5);
    text-decoration: none;
}
.orange {
    color: #ff5935;
}
.orange a {
    color: #ff5935;
    text-decoration: none;
}
.text {
    color: white;
    font-size: 18px;
}
.text a {
    text-decoration: none;
    color: white;
}
.heading {
    display: flex;
    width: 806px;
    align-items: center;
    align-self: stretch;
}
.subheading {
    display: flex;
    width: 840px;
    height: 20px;
    
    align-items: flex-start;
    align-self: stretch;
}
.game {
    width: 806px;
    height: 140px;
    display: flex;
    align-self: stretch;   
}
.margintop {
    margin-top: 25px;
}
.negmargintop {
    margin-top: -80px;
}
.details {
    width: 480px;
}

/* NAVBAR */
.nav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
    
    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-wrap: wrap; /* stops entities from being off the page */
    align-items: center; /* formats to thte center of the container height */
}

.nav .card1 {
    padding-right: 56px;
    font-size: 23px;
}
.nav .card1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    ;
}

.nav .card2 {
    padding-right: 10px;
    font-size: 15px;
}
.nav .card2 a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
    
}

.nav .card3 {
    padding: 0px 10px 0px;
    font-size: 15px;
}
.nav .card3 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    
}

.nav .card_searchbar {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 50px;
    font-size: 17px;
    align-self: center; /* formats text to the right side of the page */
    padding-right: 56px;
}

/* 
*
*
*
*the HOME page 
*
*
*/


/* 
*
*
*
* LEAGUE INDEX
*
*
*
*/

.leaguenav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 80%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.leaguesdisplay {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 20px;
}

/*
*
* LEAGUE VIEW
*
*/

.leagueoverview {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(81, 81, 81, 0.221) 100%);
    
    
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-right: none;
    border-top: none;
    
    height: 200px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leagueoverview .leaguename {
    margin-left:200px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.leaguenation {
    font-size: 15px;
    color: rgb(255, 255, 255);;
    margin-left: 200px;
}

/*
*
*
*
* TEAM INDEX
*
*
*
*/

.teamnav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 80%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamsdisplay {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 20px;
}
/*
*
* TEAM VIEW
*
*/
.teamoverview {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(81, 81, 81, 0.221) 100%);
    
    
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-right: none;
    border-top: none;
    
    height: 200px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamoverview .teamname {
    margin-left:200px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.teamnation {
    font-size: 15px;
    color: rgb(255, 255, 255);;
    margin-left: 200px;
}

/*
*
*
*
* MANAGER INDEX
*
*
*
*/

.managernav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 60%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.managersdisplay {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 20px;
}


/*
*
*
* MANAGER VIEW
*
*/
.manageroverview {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(81, 81, 81, 0.221) 100%);
    
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-right: none;
    border-top: none;
    
    height: 200px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manageroverview .managername {
    margin-left:200px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.managerteam {
    font-size: 15px;
    color: rgb(255, 255, 255);;
    margin-left: 200px;
    text-transform: uppercase;
}

/*
*
*
* PLAYER INDEX
*
*
*/

.playernav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 80%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playersdisplay {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 20px;
}


/*
*
*
* PLAYER VIEW
*
*
*/
.playeroverview {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(81, 81, 81, 0.221) 100%);
    
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-right: none;
    border-top: none;

    height: 200px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playeroverview .playername {
    margin-left:200px;
    color: rgb(255, 255, 255);
}
.playerteam {
    font-size: 15px;
    color: rgb(255, 255, 255);;
    margin-left: 200px;
    text-transform: uppercase;
}

@include './components/card.css';

@tailwind base;
@tailwind components;
@tailwind utilities;