.active {
    color: rgba(255, 89, 53, 1);
    font-weight: 800;
}

body {
    background: linear-gradient(0deg, #000000, #000000);
    margin: 0px;
    padding: 0px;
}

.pagination {
    color: white;
    text-decoration: none;
}
.grey {
    color: rgba(74, 74, 74, 1);
}
/* 
*
*
*
*the HOME page 
*
*
*
*/
.nav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 60%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;

    display: flex;
    justify-content: space-between;
}

.orange {
    color: #ff5935;
}

.menu {
    display: flex;
    flex-wrap: wrap; /* stops entities from being off the page */
    align-items: center; /* formats to thte center of the container height */
}

.nav .card1 {
    padding-right: 56px;
    font-size: 23px;
}
.nav .card1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    ;
}

.nav .card2 {
    padding-right: 10px;
    font-size: 15px;
}
.nav .card2 a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);

}

.nav .card3 {
    padding: 0px 10px 0px;
    font-size: 15px;
}
.nav .card3 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);

}

.nav .card_searchbar {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 50px;
    font-size: 17px;
    align-self: center; /* formats text to the rigth side of the page */
}

.overview {
    height: 975px;
    padding: 24px 16px 24px 16px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid rgba(74, 74, 74, 1);
}

.overview a{ 
    text-decoration: none;
    color: rgba(255, 255, 255);
}
.overview .leaguescard {
    font-size: 25px;
    color: rgba(255, 255, 255);
    width: 274px;
    height: 393px;
    margin-top: 15px;
    margin-left: 1111px;
    padding: 24px 16px 24px 16px;
    border-radius: 8px;
    border: 1px;
    gap: 24px;

    border: 1px solid rgba(74, 74, 74, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grey {
    color: rgba(255, 255, 255, 0.5);
}

.overview .premcard {
    font-size: 20px;
}
.overview .premteams {
    font-size: 10px;
}

.overview .champscard {
    font-size: 20px;
}
.overview .champsteams {
    font-size: 10px;
}

.overview .europacard {
    font-size: 20px;
}
.overview .europateams {
    font-size: 10px;
}

.overview .bundescard {
    font-size: 20px;
}
.overview .bundesteams {
    font-size: 10px;
}

.overview .serieacard {
    font-size: 20px;
}
.overview .serieateams {
    font-size: 10px;
}

.overview .nextgamescard { 
    border: 1px solid rgba(74, 74, 74, 1);
    border-radius: 8px;
    height: 1px;
    margin-top: -442px;
    margin-left: 56px;
    margin-right: 400px;
    padding: 24px 16px 24px 16px;
    
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    background-color: rgba(79, 78, 78, 0.378);
    flex-direction: row;
    align-items: center;
}

.overview .fixturescard {
    border: 1px solid rgba(74, 74, 74, 1);
    border-radius: 8px;
    height: 200px;
    margin-left: 56px;
    margin-right: 400px;
    padding: 24px 16px 24px 16px;

    color: rgb(255, 255, 255);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.overview .popularcard {
    border: 1px solid rgba(74, 74, 74, 1);
    border-radius: 8px;
    height: 1px;
    margin-top: 40px;
    margin-left: 56px;
    margin-right: 400px;
    padding: 24px 16px 24px 16px;
    
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overview .popularteamcard {
    border: 1px solid rgba(74, 74, 74, 1);
    border-radius: 8px;
    height: 200px;
    margin-left: 56px;
    margin-right: 400px;
    padding: 24px 16px 24px 16px;

    color: rgb(255, 255, 255);
    font-size: 25px;
    /* display: flex;
    flex-direction: ;
    align-items: ; */
    
}

.overview .popularplayercard {
    border: 1px solid rgba(74, 74, 74, 1);
    border-radius: 8px;
    height: 200px;
    margin-left: 56px;
    margin-right: 400px;
    padding: 24px 16px 24px 16px;

    color: rgb(255, 255, 255);
    font-size: 25px;
    /* display: flex;
    flex-direction: ;
    align-items: ; */
    
}

.overview .topmanagers {
    font-size: 25px;
    color: rgba(255, 255, 255);
    width: 274px;
    height: 393px;
    margin-top: -500px;
    margin-left: 1111px;
    padding: 24px 16px 24px 16px;
    border-radius: 8px;
    border: 1px;
    gap: 24px;

    border: 1px solid rgba(74, 74, 74, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* 
*
*
*
* LEAGUE INDEX
*
*
*
*/

.leaguenav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 80%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.leaguesdisplay {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 20px;
}

.leaguestablecard1 { 
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: 25px;
    margin-left: 56px;
    margin-right: 735px;
    padding: 24px 16px 24px 16px;
    border-right: none;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.locationtablecard1 { 
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: -70px;
    margin-left: 735px;
    margin-right: 56px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.leaguescard2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.leaguescard2 .league {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-left: 56px;
    margin-right: 735px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    text-transform: uppercase;
    border-right: none;
    display: flex;
}
.leaguescard2 .location {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: -70px;
    margin-left: 735px;
    margin-right: 56px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

/*
*
* LEAGUE VIEW
*
*/

.leagueoverview {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(81, 81, 81, 0.221) 100%);
    
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-right: none;
    border-top: none;
    
    height: 200px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leagueoverview .leaguename {
    margin-left:200px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.leaguenation {
    font-size: 15px;
    color: rgb(255, 255, 255);;
    margin-left: 200px;
}
.leagueviewnav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    align-items: center;
}
.leagueviewnav a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
}
.leagueviewcard1 {
    padding-right: 20px;
}
.leagueviewcard2 {
    padding-right: 20px;
}
.leagueviewcard3 {
    padding-right: 20px;
}

/*
*
*
*
* TEAM INDEX
*
*
*
*/

.teamnav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 80%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamsdisplay {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 20px;
}

.teamtableheader .teamheader {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: 25px;
    margin-left: 56px;
    margin-right: 735px;
    padding: 24px 16px 24px 16px;
    border-right: none;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.teamtableheader .leagueheader {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: -70px;
    margin-left: 735px;
    margin-right: 56px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.teamtablecontents a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.teamtablecontents .teamname {
    height: 50px;
    margin-left: 56px;
    margin-right: 735px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;
}
.teamtablecontents .leaguename {
    color: rgb(255, 89, 53, 1);
    height: 50px;
    margin-top: -150.5px;
    margin-left: 735px;
    margin-right: 56px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;


}

/*
*
* TEAM VIEW
*
*/


/*
*
*
*
* MANAGER INDEX
*
*
*
*/

.managernav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 60%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.managersdisplay {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 20px;
}
.managertableheader .managerheader {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: 25px;
    margin-left: 56px;
    margin-right: 735px;
    padding: 24px 16px 24px 16px;
    border-right: none;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.managertableheader .teamheader {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: -70px;
    margin-left: 735px;
    margin-right: 56px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.managertablecontents a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.managertablecontents .managername {
    height: 50px;
    margin-left: 56px;
    margin-right: 735px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;
}
.managertablecontents .teamname {
    color: rgb(255, 89, 53, 1);
    height: 50px;
    margin-top: -150.5px;
    margin-left: 735px;
    margin-right: 56px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;
}
.teamviewnav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    align-items: center;
}
.teamviewnav a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
}
.teamviewcard1 {
    padding-right: 20px;
}
.teamviewcard2 {
    padding-right: 20px;
}

/*
*
*
* MANAGER VIEW
*
*/
.manageroverview {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(81, 81, 81, 0.221) 100%);
    
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-right: none;
    border-top: none;
    
    height: 200px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manageroverview .managername {
    margin-left:200px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.managerteam {
    font-size: 15px;
    color: rgb(255, 255, 255);;
    margin-left: 200px;
    text-transform: uppercase;
}
.personaltable {
    border: 1px solid rgba(74, 74, 74, 1);
    background-color: rgb(74, 74, 74);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 24px;
    margin-left: 56px;
    margin-right: 900px;
    padding: 16px 16px 16px 16px;
    

}
.personaltable .personalheader {
    color: white;
}
.personalcontents .personalinfo {
    border: 1px solid rgba(74, 74, 74, 1);
    margin-left: 56px;
    margin-right: 900px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}

/*
*
*
* PLAYER INDEX
*
*
*/

.playernav {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.2) 80%, rgba(0, 0, 0, 0) 100%);

    height: 64px;
    border: 1px solid rgba(74, 74, 74, 1);
    padding-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playersdisplay {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 20px;
}

.playertableheader .playerheader {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: 25px;
    margin-left: 56px;
    margin-right: 961.2px;
    padding: 24px 16px 24px 16px;
    border-right: none;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.playertableheader .positionheader {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: -70px;
    margin-left: 508.6px;
    margin-right: 508.6px;
    padding: 24px 16px 24px 16px;
    border-right: none;
    border: 1px solid rgba(74, 74, 74, 1);
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.playertableheader .teamheader {
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: -70px;
    margin-left: 961.2px;
    margin-right: 56px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(79, 78, 78, 0.378);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.playertablecontents a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.playertablecontents .playername {
    height: 50px;
    margin-left: 56px;
    margin-right: 961.2px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;
}
.playertablecontents .playerposition {
    color: rgb(255, 89, 53, 1);
    height: 50px;
    margin-top: -100px;
    margin-left: 508.6px;
    margin-right: 508.6px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;
}
.playertablecontents .teamname {
    color: rgb(255, 89, 53, 1);
    height: 50px;
    margin-top: -100px;
    margin-left: 961.2px;
    margin-right: 56px;
    padding: 24px 16px 24px 16px;
    border: 1px solid rgba(74, 74, 74, 1);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;
}
/*
*
*
* PLAYER VIEW
*
*
*/
.playeroverview {
    background:
    linear-gradient(180deg, rgba(74, 74, 74, 0.413) 40%, rgba(81, 81, 81, 0.221) 100%);
    
    border: 1px solid rgba(74, 74, 74, 1);
    border-left: none;
    border-right: none;
    border-top: none;
    
    height: 200px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playeroverview .playername {
    margin-left:200px;
    color: rgb(255, 255, 255);
}
.playerteam {
    font-size: 15px;
    color: rgb(255, 255, 255);;
    margin-left: 200px;
    text-transform: uppercase;
}

@tailwind base;
@tailwind components;
@tailwind utilities;